.gameboard {
    width: 800px;
    height: 800px;
    position: absolute;
    border-width: 1px;
    border:solid;
}

.selected.alive {
    background: green;
}
.selected {
    background: grey;
}

.alive {
    background: black;
}