.gameboard {
    width: 800px;
    border-width: 1px;
    border:solid;
    margin: 0;
    padding: 0;
}

.selected.alive {
    background: gray;
    opacity: 1;
}
.selected {
    background: black;
    opacity: .2;
}

.alive {
    background: black;
}

.tile {
    display: inline-block;
    width: 16;
    height: 16;
}